html {
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 2% 5%;
}

h1 {
  font-size: 3rem;
  display: inline-block;
}

h2 {
  font-size: 2rem;
}

a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }

.div-button {
  background-color: rgba(10, 10, 10, 0.1);
  padding: 0.5rem 1rem;
  margin: 1.5rem;
  font-size: 1.5rem;
  display: inline-block;  /*size fits exactly to text*/

  transform: scale(1.3) translateY(30px);
  z-index: 1;
  box-shadow: 0 0 5px #bbb;
  border-radius: 5%;

  cursor: pointer;
  user-select: none;
}
.div-button:hover {
  background-color: rgba(10, 10, 10, 0.05);
}
.div-button:active {
  background-color: rgba(20, 20, 20, 0.2);;
}

.headliner {
  padding: 2rem;
  margin: 1rem;
  /*box-shadow: 3px 3px rgba(10, 10, 10, 0.05);*/
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.1);

  vertical-align: middle;
}

.image-holder {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2rem;
  background-color: rgba(10, 10, 10, 0.05);
}

.light-grey-centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2rem;
  background-color: rgba(10, 10, 10, 0.05);
}

.centered-div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.margin-sm {
  margin: 1rem;
}
.margin-md {
  margin: 2rem;
}
.margin-lg {
  margin: 3rem;
}
